<div class="container">
    <h2>
        Ingreso de nueva promoción
    </h2>
    <div class="form">
        <form [formGroup]="promocionForm">
            <div>
                <p class="error">{{error}}</p>
            </div>
            <div>
                <p>Ingrese el titulo </p>
                <input type="text" class="form-control" name="titulo" id="titulo" formControlName="titulo"
                [(ngModel)]="promocion.title">
            </div>
            <div>
                <p>Ingrese el nombre de la empresa</p>
                <input type="text" class="form-control" name="nombreEmpresa" id="nombreEmpresa" formControlName="nombreEmpresa"
                [(ngModel)]="promocion.companyName">
            </div>

            <div>
                <p>Descripción</p>
                <input type="text" class="form-control" name="descripcion" id="descripcion" formControlName="descripcion"
                [(ngModel)]="promocion.description">
            </div>
            <div>
                <p>Imagen de la promoción</p>
                <input type="file" class="form-control" name="imagenPromocion" id="imagenPromocion" formControlName="imagenPromocion">
            </div>
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Ingresar</button>
        </form>
    </div>
</div>