

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a {
      color: #01050a;
      font-weight: bold;
      text-decoration: underline;
      font-size: 20px;
  }
  a:active,
  a:hover {
    color:  #0c7c24;
  }


  li a{
    margin: 0 0 0 20px;
  }


 .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
  border-color: rgb(0, 0, 0);
} 