img {
  width: 110px;
  height: auto;
  margin-top: 67.5px;
}

.menu {
  margin-top: 67.5px;
  margin-left: 85%;
}

mat-icon {
  font-size: 40px;
  color: white;
}

button {
  color: #0c7c24;
  font-size: 15px;
}

.cdk-overlay-pane {
  width: 100% !important;
}
.mat-menu-panel {
  width: 100% !important;
}

mat-toolbar {
  background-color: #0c7c24;
  height: 135px;
}

@media only screen and (max-width: 600px) {
  mat-toolbar {
    height: 83px;
  }

  img {
    width: 55px;
    height: auto;
    margin-top: 41.5px;
  }

  .menu {
    margin-top: 41.5px;
    margin-left: 70%;
  }
}