<!-- Footer -->
<footer class="mainfooter justify-content-center" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div fxLayout="row">
        <div class="image" fxFlex="50%" fxLayoutAlign="start">
          <!--Column1-->
          <img src="/assets/images/logos/logo-camara.png" alt="Camara">
          <img src="/assets/images/logos/logo-canatur.png" alt="Canatur">
          <img src="../../assets/images/logos/logo-biota.png" alt="Biota">
        </div>
        <div fxFlex="50%" fxLayoutAlign="end">
          <ul class="social-network social-circle">
            <li>
              <a href="https://api.whatsapp.com/send?phone=50685566477&text=C%C3%A1mara%20de%20Turismo%20de%20Oros%C3%AD"
                target="_blank">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/camaradeturismoorosi/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="mailto:camaradeturismoorosi@gmail.com" target="_blank">
                <i class="glyphicon glyphicon-envelope">
                </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>