<a mat-dialog-title mat-dialog-close >
    <span class="material-icons">
        close
    </span>
</a>
<mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="2%">
        <div fxLayout="row">
        </div>
        <div>
            <h2>
                {{company.companyName}}
            </h2>
        </div>
        <div>
            <div>
                <h3>Descripción</h3>
            </div>
            <div>
                <p>
                    {{company.companyDescription}}
                </p>
            </div>
        </div>
        <div>
            <div>
                <h3>Correo Electrónico</h3>
            </div>
            <div>
                <p>
                    {{company.companyEmail}}
                </p>
            </div>
        </div>
        <div>
            <div>
                <h3>Dirección</h3>
            </div>
            <div>
                <p>
                    {{company.companyAddress}}
                </p>
            </div>
            <div>
                <a class="button" *ngIf="company.companyLocation" [href]="company.companyLocation" target="_blank">
                    Google Maps
                </a>
            </div>
        </div>
        <div class="telefonos">
            <div>
                <h3>Teléfonos</h3>
            </div>
            <div fxLayout="row" fxLayoutGap="3%">
                <div *ngFor="let phone of company.companyPhones">
                    <p>{{phone.phone}}</p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3>Redes Sociales</h3>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <a class="button" *ngIf="company.companyFacebookProfile" [href]="company.companyFacebookProfile"
                    target="_blank">
                    Facebook
                </a>
                <a class="button" *ngIf="company.companyInstagramProfile" [href]="company.companyInstagramProfile"
                    target="_blank">
                    Instagram
                </a>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!status">
        <button mat-button (click)="editarImagen(company)">Editar Imagen</button>
        <button mat-button (click)="modificarCompany(company)">Editar</button>
        <button mat-button (click)="eliminarCompany(company)">Eliminar</button>
</mat-dialog-actions>