<section>
    <div class="social-direction">
        <div class="social-media">
            <ul class="social-network social-circle social-direction">
            <li><a href="https://api.whatsapp.com/send?phone=50685566477&text=C%C3%A1mara%20de%20Turismo%20de%20Oros%C3%AD"><i class="fa fa-whatsapp" aria-hidden="true" target="_blank"></i></a></li>
            <li><a href="https://www.facebook.com/camaradeturismoorosi/" ><i class="fa fa-facebook" target="_blank"></i></a></li>   
            <li><a href="mailto:camaradeturismoorosi@gmail.com"><i class="glyphicon glyphicon-envelope" target="_blank"></i></a></li>             
            </ul>				
          </div>
    </div>
    </section>