<div class="promotion-container">
    <div>
        <h1>Promociones</h1>
    </div>

    <div>
        <button class="btn-insert" *ngIf="!status" (click)="addPromotion()">Insertar Promoción</button>
    </div>
    <br>
    <p>*Nota: Las Promociones expiradas se eliminan automaticamente</p>
    <div fxLayout="row">
        <table mat-table [dataSource]="promotions">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
            </ng-container>

            <ng-container matColumnDef="expirationDate">
                <th mat-header-cell *matHeaderCellDef> Fecha de Expiración </th>
                <td mat-cell *matCellDef="let element"> {{element.expirationDate}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <a (click)="openPromotion(element)">Ver</a>
                    <a (click)="modifyPromotion(element)">Modificar</a>
                    <a (click)="deletePromotion(element)">Eliminar</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>