h1 {
    text-align: center;
}

img {
    height: 600px;
    width: 670px;
    z-index: -1;
    position: relative;
}

.content {
    position: relative;
}

span {
    font-size: 80px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container > button {
    position: absolute;
    top: 50%;
}

.btn-container .btn-left {
    right: 80%;
}

.btn-container .btn-right {
    left: 85%;
}

.btn-container button {
    color: white;
    text-align: center;
    background-color: black;
    border: none;
    opacity: 0.2;
    transition: opacity 1s;
}

.btn-container button:hover {
    opacity: 1;
}

.btn-container button:focus {
    outline: 0;
}

@media only screen and (max-width: 600px) {
    img {
        height: auto;
        width: 402px;
    }

    .content .btn-right {
        left: 85%;
    }

    span {
        font-size: 40px;
    }
}