<app-tour-header></app-tour-header>
<div class="tour-container">
    <div fxLayout="column">
        <button (click)="openGalery()">Galería</button>
    </div>
    <div class="information">
        <div fxLayout="column">
            <h1>Bienvenido</h1>
            <p>
                Bienvenidos y bienvenidas al tour virtual de la Iglesia Colonial de Orosi, a
                continuación conocerán un poco acerca de este templo declarado como
                patrimonio nacional a partir del año de 1920 e incorporándose al patrimonio
                histórico arquitectónico en el año de 1996.
            </p>
        </div>
        <div fxLayout="column">
            <h1>Ubicación</h1>
            <ul>
                <li>Esta Iglesia Colonial se encuentra ubicada en el pueblo de Orosi, distrito 3° del
                    cantón de Paraíso en un valle de la Meseta Central, a 40 km de la capital.</li>
                <li>Esta es una zona tranquila en la cual gran parte de sus pobladores se dedican a
                    la agricultura de exportación y subsistencia, así como la actividad turística
                    aprovechando su potencial natural e histórico.</li>
            </ul>
        </div>
        <div fxLayout="column">
            <h1>Creación/historia</h1>
            <ul>
                <li>
                    A finales del siglo XVI, se desconocía la existencia de asentamientos de
                    españoles o franciscanos en Talamanca, territorio que era conocido como
                    “Tierra Adentro”.
                </li>
                <li>
                    La Iglesia en un intento por proteger a los indígenas logró que la Corona creara
                    pueblos de indios, donde pudieran ser agrupados al estilo de las comunidades
                    españolas las cuales contaban con un templo católico en el centro del poblado,
                    además de la residencia y oficina del fraile doctrinero. Para ello se estableció
                    que nadie además del fraile podía residir en los pueblos de indios.
                </li>
                <li>
                    Sin embargo, con el fracaso de la colonización, los misioneros franciscanos se
                    enfocaron en sacar Indios de Talamanca, principalmente pertenecientes a la
                    etnia Cabécar los cuales repoblaron el antiguo pueblo de Orosi.
                </li>
                <li>
                    En los documentos históricos existentes no hay evidencia sobre la fundación
                    exacta del convento, sin embargo, se sabe que en el año 1746 se comienza la
                    construcción del templo de Orosi y su respectivo convento, en materiales como
                    adobe y caña brava, logrando así que para el año 1776 se concluyera por
                    completo la construcción del templo.
                </li>
            </ul>
        </div>
        <div fxLayout="column">
            <h1>Puntos importantes de la Iglesia</h1>
            <ul>
                <li>La iglesia cuenta con una infraestructura sencilla a base de adobes, madera y
                    teja.</li>
                <li>Tanto dentro de la iglesia como en el Museo de Arte Religioso de San José de
                    Orosi (un antiguo convento de padres franciscanos) se pueden encontrar
                    múltiples manifestaciones artísticas como pinturas, esculturas de santos, un
                    sepulcro y diversos objetos religiosos de gran valor histórico.</li>
                <li>Un aspecto interesante de destacar es la orientación hacia la cual se encuentra
                    construida la iglesia, ya que por tradición usualmente estas edificaciones se
                    encuentran en la dirección oeste-este, sin embargo, esta iglesia se construyó
                    con mirada hacia el occidente debido a las creencias de quienes la fundaron.</li>
                <li>Algunas de las pinturas y esculturas que se ubican dentro de la iglesia y el
                    museo, posiblemente hayan sido traídas de Guatemala pero también se pueden
                    observar algunas piezas fabricadas localmente.</li>
                <li>Una imagen con gran representatividad en la iglesia es la del patrono San Jose
                    Cabecar, entorno a la cual giran una serie de leyendas.</li>
            </ul>
        </div>
        <div fxLayout="column">
            <h1>Despedida</h1>
            <p>
                Agradecemos el tiempo brindado para participar en este tour virtual de la Iglesia
                Colonial de Orosi, esperamos que haya podido aprender nuevos conocimientos durante
                el recorrido y que además pudiera tener una experiencia grata. Contamos con que
                pueda visitar la Iglesia y el museo próximamente.
            </p>
        </div>
    </div>
</div>