<div class="container">
    <div>
        <h1>
            ¿CÓMO AFILIARSE?
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nobis iure soluta modi expedita optio ut totam
            consequuntur molestias exercitationem excepturi, deleniti atque impedit tenetur dolor rerum sapiente labore
            veritatis ab repellat qui? Vero nisi ipsa temporibus. Explicabo impedit magnam optio dolorum fuga quam
            similique libero, dolore, natus soluta, asperiores recusandae voluptatibus in! Asperiores consectetur dolor
            sequi quae reiciendis error!
        </p>
    </div>
    <div>
        <h1>
            ¿QUIÉNES SOMOS?
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis explicabo mollitia a repellendus fugiat
            quae unde eos sapiente blanditiis vero odit dolores, consequatur at quia ex nam magni earum ducimus, vel,
            laudantium ullam. Vero eligendi ut qui natus voluptatem debitis animi delectus illum eos consectetur quam
            nostrum quisquam, laboriosam necessitatibus commodi. Cupiditate eaque nesciunt eum aut sequi commodi cum
            quis voluptatum possimus explicabo illo modi, velit suscipit autem delectus, molestias aperiam iste nihil et
            fuga. Pariatur ex nisi vel impedit itaque tempore cupiditate! Dolore, quo. Molestiae sequi fuga quam
            inventore?
        </p>

        <div class="panels">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            VISIÓN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eaque odit modi aperiam
                        architecto molestiae repudiandae eos dicta nobis expedita?
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            MISIÓN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eaque odit modi aperiam
                        architecto molestiae repudiandae eos dicta nobis expedita?
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            MIEMBROS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eaque odit modi aperiam
                        architecto molestiae repudiandae eos dicta nobis expedita?
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            AFILIESE
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eaque odit modi aperiam
                        architecto molestiae repudiandae eos dicta nobis expedita?
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>