<header>
 
    <!-- Navbar -->
  <nav class="navbar navbar-expand-sm justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item" id="nav-item">
        <a class="nav-link" href="#">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="directory">DIRECTORIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">AFILIADOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TOUR VIRTUAL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ARMA TU PROPIO TOUR</a>
      </li>
    </ul>
  </nav>
  <!-- End Navbar -->
  <div class="title">  
      <h1>DIRECTORIO</h1>
  </div>
  
  
  
  </header>