<div class="container-login" fxLayout="column">
    <ng-container *ngIf="loading; else elseTemplate">
        <div class="cargando" fxLayout="row">
            <h1>Cargando...</h1>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="form" fxLayout="column" fxLayoutAlign="end end" fxLayoutAlign.xs="center start">
            <h1 class="title" fxFlex="100%">
                Inicio de Sesión
            </h1>
            <form [formGroup]="loginForm" fxLayout="column" fxFlex="100%">
                <div fxLayout="column" fxLayoutAlign="center">
                    <p class="error">{{error}}</p>
                </div>
                <div fxFlex="100%">
                    <div>
                        <h3 fxFlex="100%">
                            Nombre de Usuario
                        </h3>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label></mat-label>
                            <input matInput placeholder="Nombre de la persona" formControlName="username" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100%">
                    <div>
                        <h3 fxFlex="100%">
                            Contraseña
                        </h3>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label></mat-label>
                            <input matInput type="password" placeholder="Contraseña de la persona" formControlName="password" required>
                        </mat-form-field>
                    </div>
                </div>
                <button fxLayoutAlign="center center" type="button" class="btn btn-primary" (click)="onSubmit()">Ingresar</button>
            </form>
        </div>
    </ng-template>
</div>