mat-form-field, .custom-file {
    width: 450px !important;
}

.btn-insertar {
    background-color: #0c7c24;
    color: white;
}

.error {
    color: red !important;
}

@media only screen and (max-width: 768px) {
    mat-form-field, .custom-file {
        width: 400px !important;
    }
}