<div class="container">
    <h4>
        Administrar Promos
    </h4>


    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promocion of promocion">
            <td><label >{{promocion.name}}</label></td>
            <td><img src="{{promocion.link}}" alt="Snow" style="width:100px; height: 100px;"></td>
            <td><button class="btn btn-outline-danger" (click)="deletePromocion(promocion.link)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
          </tr>
          
        </tbody>
      </table>

</div>