<div class="directory-header">
  <img class="img-header" [src]="getImage('directoryHeader')" alt="">
  <h1>Directorio</h1>
  <button *ngIf="!status" class="btn-edit-image" (click)="editImage('principalHeader')">
    <span class="material-icons">
      create
    </span>
  </button>
</div>

<button class="btn-insert" *ngIf="!status" (click)="openDialogInsertCompany()">Insertar Compañía</button>

<div class="directory-container">
  <div *ngFor="let category of directory | keyvalue">
    <div>
      <h1 class="title">{{category.key}}</h1>
    </div>
    <div class="cards-container">
      <mat-card *ngFor="let company of category.value" class="cards">
        <img mat-card-image [src]="company.companyLogo" [alt]="company.companyName"
          (click)="openCompanyImageDialog(company)">
        <mat-card-content>
          <h3>{{company.companyName}}</h3>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
          <button class="btn-show" (click)="openDialogVerCompany(company)">Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>