.directory-header h1 {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 10%;
}

.img-header {
    width: 100%;
    position: relative;
}

.directory-container {
    margin: 30px 30px 50px 76px;
}

.cards-container {
    display: grid;
    width: 100% !important;
    overflow-x: auto;
    grid-template-columns: 200px auto;
    column-gap: 20px;
    margin-bottom: 35px;
    margin-top: 15px;
}

.viewport {
    width: 100%;
    height: 300px;
}

.viewport .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: row;
}

.cards {
    max-width: 200px;
    margin-bottom: 5px;
}

.cards img {
    width: 200px;
    height: 100px;
}

.btn-show {
    background-color: transparent;
    color: #0c7c24;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 24px;
    text-align: center;
    border: 2px solid #0c7c24;
    border-radius: 8px;
}
  
.btn-show:hover {
    color: white !important;
    background-color: #0c7c24 !important;
}


@media only screen and (max-width: 600px) {
    .directory-container {
        margin-bottom: 100px !important;
    }

    .directory-header h1 {
        top: 10%;
    }
}