<div class="container">
    <h1>Directorio de Asociados</h1>
    <div class="buttons" *ngIf="status">
        <a type="button">Insertar Compañía</a>
    </div>
    <div >
        <a>
            <div class="col-md-3 col-sm-4 col-xs-6 c-img">
                <img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive">
                <div class="info-img">
                    <label><h4>Categoria</h4></label>
                    <div class="hover-img">
                        <div class="text-img">                        
                            <b><p>Restaurante EL CLON</p></b>
                            <p>Tel: 8985 4100</p>
                            <p>Facebook: Restaurante el Clon</p>
                            <p>Juan Vinas, Jimenez, Cartago</p>
                        </div>
                        <div class="buttons-img">
                            <input type="button" class="button-left" value="Añadir al carrito">
                            <input type="button" class="button-right" value="Información">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
        <a href="#"><div class="col-md-3 col-sm-4 col-xs-6"><img src="../../assets/images/item.jpg" alt="Compañía" class="img-responsive"></div></a>
    </div>
</div>