<h2>{{data.titulo}}</h2>
<mat-dialog-content>
    <p>Este formulario tiene el propósito de ingresar un afiliado al directorio</p>
    <form [formGroup]="companyForm" fxLayout="column" fxLayoutGap="3%">
        <div>
            <div>
                <h3>Nombre de la Compañía</h3>
            </div>
            <mat-form-field>
                <mat-label></mat-label>
                <input matInput id="companyName" formControlName="companyName" required>
                <mat-error *ngIf="companyForm.controls.companyName.touched">{{getCompanyNameError}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="apiErrors">{{getDuplicatedNameError}}</mat-error>
        </div>
        <div>
            <div>
                <h3>Logo o Imagen de la Compañía</h3>
            </div>
            <div>
                <div fxLayout="row">
                    <input type="file" class="upload-file" id="upload-file"
                        (click)="clicked = true"
                        (change)="onFileUploaded($event)" hidden>
                    <label for="upload-file" title="Subir foto">
                        <i class="fa fa-file-photo-o"></i>
                    </label>
                </div>
                <img *ngIf="imageScr" class="prev-image" [src]="imageScr" alt="">
                <div fxLayout="column" class="barra-progreso" *ngIf="progress">
                    <p>Progreso: {{progress}}%</p>
                    <ngb-progressbar [value]="progress"></ngb-progressbar>
                </div>
                <div>
                    <p class="error" *ngIf="companyForm.controls.companyLogo.hasError('invalidImageType')">
                        Solo se admiten imagenes con formato .PNG o .JPG
                    </p>
                    <p class="error" *ngIf="clicked && companyForm.controls.companyLogo.hasError('required')">
                        Cada compañía debe tener un logo o imagen
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h3>Descripción de la Compañía</h3>
            </div>
            <mat-form-field>
                <mat-label></mat-label>
                <textarea matInput formControlName="companyDescription"></textarea>
            </mat-form-field>
        </div>
        <div>
            <div>
                <h3>Clasificación de la Compañía</h3>
            </div>
            <mat-form-field>
                <mat-label></mat-label>
                <mat-select formControlName="companyCategory" required>
                    <mat-option *ngFor="let clasification of companyClasifications" [value]="clasification.value">
                        {{clasification.value}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="companyForm.controls.companyCategory.touched && companyForm.controls.companyCategory.hasError('required')">
                    Este campo no puede estar vacio</mat-error>
            </mat-form-field>
        </div>
        <div>
            <div>
                <h3>Correo de la Compañía</h3>
            </div>
            <mat-form-field>
                <mat-label></mat-label>
                <input matInput type="email" formControlName="companyEmail">
                <mat-error
                    *ngIf="companyForm.controls.companyEmail.touched && companyForm.controls.companyEmail.hasError('email')">
                    El formato no coincide con el de correo electrónico</mat-error>
            </mat-form-field>
            <mat-error *ngIf="apiErrors">{{getDuplicatedEmailError}}</mat-error>
        </div>
        <div formArrayName="companyPhones">
            <div>
                <button type="button" (click)="addPhoneNumber()">Agregar Teléfono</button>
            </div>

            <div *ngFor="let control of phones.controls; let i = index">
                <div [formGroupName]="i">
                    <mat-form-field class="field-phone">
                        <mat-label>Teléfono {{i + 1}} de la Compañía</mat-label>
                        <input matInput type="tel" formControlName="phone">
                        <mat-error *ngIf="control">El teléfono se encuentra repetido</mat-error>
                    </mat-form-field>
                    <button class="btn-delete-phone" title="Eliminar Número" (click)="removePhone(i)">X</button>
                </div>
                <mat-error *ngIf="apiErrors">{{getDuplicatedPhoneError}}</mat-error>
            </div>
        </div>
        <div>
            <div>
                <h3>Dirección de la Compañía</h3>
            </div>
            <div>
                <mat-form-field>
                    <mat-label></mat-label>
                    <textarea matInput formControlName="companyAddress"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div>
            <div>
                <h3>Link a dirección de Google Maps de la Compañía</h3>
            </div>
            <mat-form-field>
                <mat-label></mat-label>
                <input matInput formControlName="companyLocation">
            </mat-form-field>
        </div>
        <div>
            <div>
                <h3>Link a Facebook de la Compañía</h3>
            </div>
            <mat-form-field>
                <mat-label></mat-label>
                <input type="url" matInput formControlName="companyFacebookProfile">
            </mat-form-field>
        </div>
        <div>
            <div>
                <h3>Link a Instagram de la Compañía</h3>
            </div>
            <mat-form-field>
                <mat-label></mat-label>
                <input matInput type="url" formControlName="companyInstagramProfile">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button [disabled]="companyForm.invalid"
        (click)="onSubmit(companyForm.value)">Guardar</button>
    <button type="button" class="btn-cancelar" (click)="dialogRef.close()">Cancelar</button>
</mat-dialog-actions>