h2 {
    text-align: center;
}

p {
    color: #767a77;
    font-size: 15px;
}

mat-form-field {
    width: 450px !important;
    font-size: 15px;
}

mat-error {
    font-size: 15px;
}

button {
    font-size: 15px;
    background-color: transparent;
    color: #0c7c24;
    cursor: pointer;
    padding: 5px 12px;
    text-align: center;
    border: 2px solid #0c7c24;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 2%;
}

button:hover {
    background-color: #0c7c24;
    color: white;
}

.field-phone {
    width: 250px !important;
}

.error {
    color: red;
}

.btn-delete-phone {
    font-size: 15px;
    background-color: transparent;
    color: red;
    cursor: pointer;
    padding: 5px 14px;
    text-align: center;
    border: 2px solid red;
    border-radius: 8px;
    text-decoration: none;
    margin-left: 2%;
    font-weight: bold;
}

.btn-delete-phone:hover {
    background-color: red;
    color: white;
}

i {
    font-size: 50px;
    color: #0c7c24;
    cursor: pointer;
}

.prev-image {
    height: auto;
    width: 150px;
}

.barra-progreso {
    margin: 2%
}

.progress-bar {
    background-color:#0c7c24 !important;     
}

button:disabled {
    background-color:white !important;
    border: #767a77;
    color: #767a77;
    cursor: not-allowed;
}

.btn-cancelar {
    color: #767a77;
    border: 2px solid #767a77;
}

.btn-cancelar:hover {
    color: white;
    background-color: #767a77;
}

@media only screen and (max-width: 768px) {

    h3 {
        font-size: 15px !important;
    }

    h2 {
        font-size: 28px !important;
    }

    mat-form-field {
        width: 250px !important;
    }

    .field-phone {
        width: 160px !important;
    }

    i {
        font-size: 30px;
    }
    
}