<h1>{{data.titulo}}</h1>
<mat-dialog-content>
    <p>Este formulario tiene el propósito de registrar una compañía (afiliado) en el directorio</p>
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit(companyForm.value)">
        <div>
            <mat-form-field>
                <mat-label>Nombre de la Compañía</mat-label>
                <input matInput id="companyName" formControlName="companyName" required>
                <mat-icon matSuffix>
                    apartment
                </mat-icon>
                <mat-error *ngIf="companyForm.controls.companyName.touched">{{getCompanyNameError}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="apiErrors">{{getDuplicatedNameError}}</mat-error>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Descripción de la Compañía</mat-label>
                <textarea matInput formControlName="companyDescription"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Clasificación de la Compañía</mat-label>
                <mat-select formControlName="companyCategory" required>
                    <mat-option *ngFor="let clasification of companyClasifications" [value]="clasification.value">
                        {{clasification.value}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="companyForm.controls.companyCategory.touched && companyForm.controls.companyCategory.hasError('required')">
                    Este campo no puede estar vacio</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Correo de la Compañía</mat-label>
                <input matInput type="email" formControlName="companyEmail">
                <mat-icon matSuffix class="fa fa-envelope" style="font-size:24px"></mat-icon>
                <mat-error
                    *ngIf="companyForm.controls.companyEmail.touched && companyForm.controls.companyEmail.hasError('email')">
                    El formato no coincide con el de correo electrónico</mat-error>
            </mat-form-field>
            <mat-error *ngIf="apiErrors">{{getDuplicatedEmailError}}</mat-error>
        </div>
        <div formArrayName="companyPhones">
            <div>
                <button type="button" (click)="addPhoneNumber()">Agregar Teléfono
                    <mat-icon>
                        add_ic_call
                    </mat-icon>
                </button>
            </div>

            <div *ngFor="let control of phones.controls; let i = index">
                <div [formGroupName]="i">
                    <mat-form-field>
                        <mat-label>Teléfono {{i + 1}} de la Compañía</mat-label>
                        <input matInput type="tel" formControlName="phone">
                        <mat-icon matSuffix>phone_enabled</mat-icon>
                        <mat-error *ngIf="control">El teléfono se encuentra repetido</mat-error>
                    </mat-form-field>
                    <button (click)="removePhone(i)">Eliminar Número</button>
                </div>
                <mat-error *ngIf="apiErrors">{{getDuplicatedPhoneError}}</mat-error>
            </div>
        </div>
        <div>
            <div>
                <mat-form-field>
                    <mat-label>Dirección de la Compañía</mat-label>
                    <textarea matInput formControlName="companyAddress"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Ubicación en Google Maps de la Compañía</mat-label>
                <input matInput formControlName="companyLocation">
                <mat-icon matSuffix matSuffix class="fa fa-map-marker" style="font-size:24px"></mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Link a Facebook de la Compañía</mat-label>
                <input type="url" matInput formControlName="companyFacebookProfile">
                <mat-icon matSuffix class="fa fa-facebook-official" style="font-size:24px"></mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Link a Instagram de la Compañía</mat-label>
                <input matInput type="url" formControlName="companyInstagramProfile">
                <mat-icon matSuffix class="fa fa-instagram" style="font-size:24px"></mat-icon>
            </mat-form-field>
        </div>

        <button class="btn-insertar" mat-flat-button [disabled]="companyForm.invalid" type="submit">Guardar</button>
        <button type="button" mat-flat-button (click)="dialogRef.close()">Cancelar</button>

    </form>
</mat-dialog-content>