<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">DIRECTORIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">AFILIADOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">TOUR VIRTUAL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ARMA TU PROPIO TOUR</a>
    </li>
  </ul>
</nav>

<div class="container" role="main">

  <div>
    <h2>PROMOCIONES</h2>
    <br/>
    <br/>
    <br/>
  </div>

  <div>
    <H2>CONOZCA OROSI</H2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt soluta esse vero sequi illum explicabo odio excepturi. Distinctio atque libero quidem? Iusto, possimus est explicabo a corporis sapiente quia repellendus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo magni eligendi quae recusandae sunt consequatur perferendis maiores, officia provident odio dignissimos similique placeat ducimus autem laboriosam hic ut necessitatibus! Corrupti.</p>
  </div>



</div>

<!-- Footer -->
<footer class="mainfooter justify-content-center" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <!--Column1-->
        <img src="logo" alt="Logo">
      </div>
      <div class="col-6 col-md-4">
        <!--Column1-->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium perspiciatis.</p>
      </div>
      <div class="col-6 col-md-4">
            <ul class="social-network social-circle">
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>   
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="glyphicon glyphicon-envelope"></i></a></li>             
            </ul>				
      </div>
    </div>


  </div>
  </div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>