:host {
    font-size: 14px;
   
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  
  }



  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #01050a;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
  }

  .promociones{

    margin: 0 0 0 100px;
  }

  #dvCarrito h2{
    color: white;
  }
  #dvCarrito{
    width: 300px;
    height: 500px;
    background-color: #707271;
  }

  .conozca-orosi{

    margin: 0 0 0 100px;
  }

  
