<div fxLayout="column" fxLayoutGap="1%">
  <div class="image-header" fxLayout="row" fxFlex="100%">
    <img [src]="getImage('principalHeader')" alt="Orosi">
    <button *ngIf="!status" class="btn-edit-image" (click)="editImage('principalHeader')">
      <span class="material-icons">
        create
      </span>
    </button>
  </div>
  <div fxLayout="row">
    <h2>Nuestras promociones</h2>
  </div>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1%">
    <div class="carrousel" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <app-carrousel></app-carrousel>
    </div>
    <div class="asociados" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <div class="content">
        <img [src]="getImage('principalCompany')" alt="">
        <div>
          <h2>Conoce a nuestros Asociados</h2>
        </div>
        <div>
          <button routerLink="/directorio" class="btn-directorio">Ver más</button>
        </div>
        <div *ngIf="!status" (click)="editImage('principalCompany')">
          <button class="btn-edit-image">
            <span class="material-icons">
              create
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="visit-orosi" fxLayout="column" fxFlex="100%">
    <h2>Visitá Orosi</h2>
    <button *ngIf="!status" class="btn-edit-image" (click)="editText('visitOrosi')">
      <span class="material-icons">
        create
      </span>
    </button>
    <p>
      {{visitOrosi}}
    </p>
  </div>
  <div class="image-footer" fxLayout="row" fxFlex="100%">
    <img [src]="getImage('principalFooter')" alt="valle">
    <div *ngIf="!status" (click)="editImage('principalFooter')">
      <button class="btn-edit-image">
        <span class="material-icons">
          create
        </span>
      </button>
    </div>
  </div>
</div>