<div fxLayout="column" fxLayoutGap="2%">
  <div fxLayout="row" fxFlex="100%">
    <img src="../../assets/images/pantalla-principal.jpg" alt="Orosi">
  </div>
  <div fxLayout="row" fxLayout.xs="column">
    <div class="carrousel" fxFlex="50%" fxFlex.xs="100%">
      <app-promociones></app-promociones>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      Asociados
    </div>
  </div>
  <div fxLayout="column" fxFlex="100%">
    <h3>Visitá Orosi</h3>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quis nemo aspernatur possimus provident
      facere labore quos atque. Maxime labore neque, voluptatibus libero iste autem quas facilis numquam! Minus, quas.
    </article>
  </div>
  <div fxLayout="row" fxFlex="100%">
    Imagenes Orosi
  </div>
</div>