<div fxLayout="column" fxLayoutGap="1%">
  <div fxLayout="row" fxFlex="100%">
    <img src="/assets/images/pantalla-principal.jpg" alt="Orosi">
  </div>
  <div fxLayout="row">
    <h2>Nuestras promociones</h2>
  </div>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1%">
    <div class="carrousel" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <app-promociones></app-promociones>
    </div>
    <div class="asociados" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <div class="content">
        <img src="/assets/images/sin-imagen.jpg" alt="">
        <div>
          <h2>Conoce a nuestros Asociados</h2>
        </div>
        <div>
          <button routerLink="/directorio" class="btn-directorio">Ver más</button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="100%">
    <h2>Visitá Orosi</h2>
    <p>
      LA RIQUEZA NATURAL ES NUESTRA ESENCIA, Orosi donde fluyen aguas termales, sinónimo de relajación
      y salud. Es el lugar idóneo para iniciar tú viaje lleno de aventuras. Lugar donde puedes vivir tus
      experiencias gastronómicas, culturales y naturales. Y si el clima te sorprende no es problema, puedes
      visitar nuestras hermosas posadas, hoteles, restaurantes y cafeterías. Disfrutando de una larga estancia
      en comodidad y confort con un rico café caliente. Orosi te llevara a vivir experiencias inimaginables
      acompañados de una inmensidad de actividades desde las plantaciones de café, granjas temáticas,
      pesca de truchas, y hasta todo tipo de caminatas.
    </p>
  </div>
  <div fxLayout="row" fxFlex="100%">
    <img src="/assets/images/sin-imagen.jpg" alt="valle">
  </div>
</div>