<div class="container">
    <div>
        <h1>Usuarios del sistema</h1>
    </div>
    <div>
        <button mat-button (click)="insertarUsuario()">Insertar Usuario</button>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="5px grid" fxLayout.xs="column">
        <div fxFlex="25%" *ngFor="let user of users">
            <mat-card *ngIf="loginService.user !== user.userName">
                <mat-card-header fxLayoutAlign="center center">
                    <mat-card-title>{{user.userName}}</mat-card-title>
                </mat-card-header>
                <mat-card-actions fxLayoutAlign="center center">
                    <button mat-button (click)="modificarUsuario(user)">Modificar</button>
                    <button mat-button (click)="eliminarUsuario(user)">Eliminar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>