<div class="container">
    <div>
        <h1>
            ¿QUIÉNES SOMOS?
        </h1>
        <p>
            La Cámara de Turismo de Orosi es el organismo impulsor de la actividad turística en la zona; articulando los
            esfuerzos de instituciones públicas y privadas logrando un desarrollo óptimo del Turismo en beneficio no
            solo para el distrito sino para toda la provincia de Cartago.
            Somos una asociación sin fines de lucro de microempresas turísticas fundada en el 2019; que tiene como
            objetivo consolidar y promover a Orosi como destino turístico sostenible bajo altos estándares de calidad en
            servicios, accesibilidad y seguridad.
            Alianzas Estratégicas: ICT, CANATUR, UCR, ACOPROT, TEC, CTP de Orosi, Municipalidad de Paraíso, Asamblea
            Legislativa, MOPT, AyA, ICE, Iglesia Colonial San José de Orosi, Ministerio de Cultura, SINAC, ADI Orosi,
            UNA, INA, Banco Nacional, entre otros.
        </p>
        <div class="panels">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            VISIÓN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        “Consolidar y promover a Orosi como un solo multidestino; con capacidad de imponerse en el
                        mercado turístico nacional e internacional; posicionándonos como el destino turístico sostenible
                        número uno del valle central, garantizando calidad y seguridad al turista”.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            MISIÓN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        “Ser un ente encargado de articular encadenamientos con los diferentes actores involucrados en
                        la actividad turística dentro del distrito. Buscando la solución a problemas que puedan afectar
                        al sector y generando bienestar en las comunidades”.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            VALORES
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        &#10003;Profesionalismo: Este es uno de los principios fundamentales para lograr resultados
                        óptimos
                        dentro de la cámara. Nos comprometeremos en buscar la asesoría técnica adecuada en todo lo que
                        emprendamos; para que en conjunto con las microempresas podamos ofrecer un servicio inigualable.
                    </p>
                    <p>
                        &#10003;Calidad y Seguridad: Lograr la satisfacción de los turistas que visita la zona; es una
                        de las
                        prioridades de la cámara. Por lo que, velará en la estandarización de los servicios que
                        garantizan una experiencia autentica para cualquier cliente.
                    </p>
                    &#10003;Sostenibilidad: Desarrollar la actividad turística de manera responsable y sostenible, a fin
                    de conservar los recursos naturales, culturales e históricos para la actual y futuras
                    generaciones.
                    <p>
                        &#10003;Transparencia: Fomentó de las normas éticas y morales en todo lo que hagamos,
                        adhiriéndonos a
                        los valores de la equidad y la honestidad.
                    </p>
                    <p>
                        &#10003;Dinamismo: Se refiere al trabajo duro y la constancia que serán la base de la cámara
                        para
                        llevar a cabo todas las funciones; reflejándose en resultados tangibles en beneficio para los
                        empresarios y toda la comunidad.
                    </p>
                    <p>
                        &#10003;Inclusión: Brindar y facilitar a todas las personas el debido respeto, ya sean clientes,
                        proveedores o vecinos de la comunidad: Incluyendo desde la persona cuida carros hasta el que
                        vende directamente al cliente. Así como, involucrar en el sector a personas con discapacidad
                        para capacitarlas y que puedan brindar sus servicios; generándoles una oportunidad en el
                        mercado.

                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            MIEMBROS
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eaque odit modi aperiam
                        architecto molestiae repudiandae eos dicta nobis expedita?
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <div>
                <h1>
                    ¿CÓMO AFILIARSE?
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nobis iure soluta modi expedita optio
                    ut
                    totam
                    consequuntur molestias exercitationem excepturi, deleniti atque impedit tenetur dolor rerum sapiente
                    labore
                    veritatis ab repellat qui? Vero nisi ipsa temporibus. Explicabo impedit magnam optio dolorum fuga
                    quam
                    similique libero, dolore, natus soluta, asperiores recusandae voluptatibus in! Asperiores
                    consectetur
                    dolor
                    sequi quae reiciendis error!
                </p>
            </div>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            AFILIESE
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eaque odit modi aperiam
                        architecto molestiae repudiandae eos dicta nobis expedita?
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>