<div class="container">
    <div>
        <h1>
            ¿QUIÉNES SOMOS?
        </h1>
        <br>
        <p>
            La Cámara de Turismo de Orosi es el organismo impulsor de la actividad turística en la zona; articulando los esfuerzos de instituciones públicas y privadas logrando un desarrollo óptimo del Turismo en beneficio no solo para el distrito sino para toda la provincia de Cartago. 
            <br>
            <br>
            Somos una asociación sin fines de lucro de microempresas turísticas fundada en el 2019; que tiene como objetivo consolidar y promover a Orosi como destino turístico sostenible bajo altos estándares de calidad en servicios, accesibilidad y seguridad.
            <br>
            <b></b>
            Alianzas Estratégicas: ICT, CANATUR, UCR, ACOPROT, TEC, CTP de Orosi, Municipalidad de Paraíso, Asamblea Legislativa, MOPT, AyA, ICE, Iglesia Colonial  San José de Orosi, Ministerio de Cultura, SINAC, ADI Orosi, UNA, INA, Banco Nacional, entre otros.

        </p>

        <div class="panels">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            VISIÓN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        “Consolidar y promover a Orosi como un solo multidestino; con capacidad de imponerse en el mercado turístico nacional e internacional; posicionándonos como el destino turístico sostenible número uno del valle central, garantizando calidad y seguridad al turista”.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            MISIÓN
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        “Ser un ente encargado de articular encadenamientos con los diferentes actores involucrados en la actividad turística dentro del distrito. Buscando la solución a problemas que puedan afectar al sector y generando bienestar en las comunidades”.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            JUNTA DIRECTIVA
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li class="fa fa-user-o">
                            Presidenta
                            <br>
                            Srita. Débora Céspedes 
                            <br>
                            Profesional en Gestión Ecoturística
                        </li>
                        <br>
                        <br>
                        <li class="fa fa-user-o">
                            Vicepresidente
                            <br>
                            Sr. Juan Carlos Coto
                            <br>
                            Orosi al Natural Spa 
                        </li>
                        <br>
                        <br>
                        <li class="fa fa-user-o">
                            Secretaria
                            <br>
                            Sra. Eyleen Mata 
                            <br>
                            Mountain Paradise Farm 
                        </li>
                        <br>
                        <br>
                        <li class="fa fa-user-o">
                            Tesorero
                            <br>
                            Sr. Dagoberto Garro 
                            <br>
                            Truchas Mi Ranchito 
                        </li>
                        <br>
                        <br>
                        <li class="fa fa-user-o">
                            Vocal
                            <br>
                            Sr. Edgardo Martínez 
                            <br>
                            Balneario Los Martínez 
                        </li>
                        <br>
                        <br>
                        <li class="fa fa-user-o">
                            Fiscal
                            <br>
                            Sr. Emmerson Machado 
                            <br>
                            Proyecto Turismo de Salud 
                        </li>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            VALORES
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li class="fa fa-check"> Profesionalismo: Este es uno de los principios fundamentales para lograr resultados óptimos dentro de la cámara. Nos comprometeremos en buscar la asesoría técnica adecuada en todo lo que emprendamos; para que en conjunto con las microempresas podamos ofrecer un servicio inigualable.</li>
                        <br>
                        <br>
                        <li class="fa fa-check"> Calidad y Seguridad: Lograr la satisfacción de los turistas que visita la zona; es una de las prioridades de la cámara. Por lo que, velará en la estandarización de los servicios que garantizan una experiencia autentica para cualquier cliente. 
                        </li>
                        <br>
                        <br>
                        <li class="fa fa-check"> Sostenibilidad: Desarrollar la actividad turística de manera responsable y sostenible, a fin de conservar los recursos naturales, culturales e históricos para la actual y futuras generaciones.</li>
                        <br>
                        <br>
                        <li class="fa fa-check"> Transparencia: Fomento de las normas éticas y morales en todo lo que hagamos, adhiriéndonos a los valores de la equidad y la honestidad.</li>
                        <br>
                        <br>
                        <li class="fa fa-check"> Dinamismo: Se refiere al trabajo duro y la constancia que serán la base de la cámara para llevar a cabo todas las funciones; reflejándose en resultados tangibles en beneficio para los empresarios y toda la comunidad. </li>
                        <br>
                        <br>
                        <li class="fa fa-check"> Inclusión: Brindar y facilitar a todas las personas el debido respeto, ya sean clientes, proveedores o vecinos de la comunidad: Incluyendo desde la persona cuida carros hasta el que vende directamente al cliente. Así como, involucrar en el sector a personas con discapacidad para capacitarlas y que puedan brindar sus servicios; generándoles una oportunidad en el mercado. </li>
                        
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                           ¿CÓMO AFILIARSE?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        ¿Por qué ser un Afiliado?<br> <br>
                        La Cámara de Turismo de Orosi es una organización sin fines de lucro que se creó con el fin de representar el interés de sus afiliados, buscando soluciones en conjunto para resolver las necesidades del sector y lograr un desarrollo equitativo de la actividad turística; articulando esfuerzos de instituciones públicas y privadas. De esta manera, generando una oportunidad para incentivar y reactivar económicamente la zona. Ser parte de la Cámara significa un respaldo institucional que brinda un sello distintivo de confianza y seguridad a sus clientes.
                        <br><br>
                        Beneficios:
                    </p>
                    <ul>
                        <li class="fa fa-check-circle-o">
                            Mejores oportunidades para crecer y desarrollarse dentro del sector turístico
                        </li>
                        <br>
                        <li class="fa fa-check-circle-o">
                            Mayor participación en la toma de decisiones del gobierno local y nacional.
                        </li>
                        <br>
                        <li class="fa fa-check-circle-o">
                            Mayor vinculación y asesoría por partes del ICT y CANATUR 
                        </li>
                        <br>
                        <li class="fa fa-check-circle-o">
                            Participación y promoción en nuestro mapa que se colocará en puntos importantes, ferias nacionales e internacionales.
                        </li>
                        <br>
                        <li class="fa fa-check-circle-o">
                            Posibilidad de mercadear su empresa por medio de material impreso y digital que se distribuye en aeropuertos y oficinas de turismo a nivel nacional.
                        </li>
                        <br>
                        <li class="fa fa-check-circle-o">
                            Capacitaciones constantes en diferentes temas.
                        </li>
                        <br>
                        <li class="fa fa-check-circle-o">
                            Acceso directo a información actualizada sobre el acontecer turístico nacional e internacional.
                        </li>
                        <br>
                        <li class="fa fa-check-circle-o">
                            Alianzas estratégicas institucionales y empresariales.
                        </li>
                    </ul>
                   
                </mat-expansion-panel>
            </mat-accordion>
           <br>
         
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon>control_point</mat-icon>
                        <mat-panel-title>
                            AFÍLIESE
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        Llenar el Formulario de afiliación completo y firmado por el propietario o representante legal y enviarlo al correo <a href="mailto:camaradeturismoorosi@gmail.com">camaradeturismoorosi@gmail.com</a>  y pronto nos contactaremos con ustedes.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>
            <br> 
        </div>
    </div>
</div>