
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Detalles de la Promoción</h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-7">
        <h3 class="my-3"><br> Banner de la promoción</h3>
        <img src="/assets/images/item.jpg" alt="Snow" style="width:500px; height: 300px;">
      </div>
  
      <div class="col-md-5">
        <h3 class="my-3"><br><br>Nombre o titulo</h3>
        <label >{{promocion.title}}</label>
        <h3 class="my-3"><br>Negocio</h3>
        <label >{{promocion.companyName}}</label>
        <h3 class="my-3"><br>Descripción</h3>
        <label >{{promocion.description}}</label>
       
      </div>

  
    </div>
    <!-- /.row -->
  
  
  </div>
  <!-- /.container -->